.App {
  text-align: center;
}


.Circle {
  text-align: center;
  align-items: center;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 90%;
}

.message {
  position: relative;
  margin-top: 100px;
  color: white;
}